/* Startup Website */

html, body, .cover {
	height: 100% ;
}

/* Reserve space for fixed navbar so content is not covered */
body {
	padding-top: 51px;
}

/* When scrolling to anchor links, show section below navbar (not under it) */
#home, #why-us, #team, #signup {
	scroll-margin-top: 51px;
}

.cover {
	background: linear-gradient(to bottom, #1e2a3a 0, #1e2a3a 60px, transparent 140px),
	            url('img/couchfriends.jpg') top left no-repeat;
	background-size: cover;
	display: table;
	width: 100%;
	padding: 0 20%;
	box-shadow: inset 0 0 100px #100;
}

.cover-text {
	text-align: center;
	color:white;
	display: table-cell;
	vertical-align: middle;
}

.cover-text h1 {
	font-size: 60px;
	color:burlywood;
	margin: 0;
	letter-spacing: -4px;
}

/* Shared dark blue-gray so navbar and hero blend */
.navbar {
	background-color: #ec4123;
	border: none;
}

.testimonial {
	background: #100000 ;
}

blockquote {
	border: none;
	font-family: Georgia , Times, monospace;
	font-style: italic;
	font-size: 32px;
	color: aliceblue ;
	
}

blockquote cite {
	display:block;
	font-family: Helvitica, sans-serif, Arial;
	font-style: normal;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: right;
	color:antiquewhite; 
}

section {
	padding: 100px;
}

h2{
	text-align: center;
	font-size: 28px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0 0 60px;
}

h2 + p{
	text-align: center;
	margin-top: -50px;
}


#team {
	background: url('img/fan.jpg') top left no-repeat;
	background-size: cover;
	color: white;
	text-align: center;
	
}

footer{
	background: #222;
	color:beige;
	text-align: center;
	padding: 20px;
	font-family: Times, sans-serif, serif;
}

footer a {
	color:red;
}

/*------- Media Queries -------*/

@media only screen and (max-width : 568px)
{
	.cover h1 {
		fontsize: 40px; 
	}
	section {
		padding: 20px;
	
    }
}









